body {
	margin: 0;
	padding: 0;
}

div { 
	padding: 0; 
	margin: 0; 
}

#navbar {
	position: fixed;
	height: 40px;
	width: 100%;
	border: 1px solid #5F99CF;
	background-color: #CEE3F8;
	z-index: 99;
}

#logo {
	height: 75%;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-partition {
	position: relative;
	height: 100%;
	bottom: 0;
}

#nav-left {
	position: absolute;
	width: 1000px;
	display: inline-block;
}

.navtabmenu {
	list-style-type: none;
	white-space: nowrap;
	display: inline-block;
}

.navtabmenu li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
	font-weight: bold;
}

.choice {
	position: relative;
	top: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	display: inline;
	background-color: #EFF7FF;
	text-decoration: none;
	color: #369;
}

#selected {
	color: #FF4500;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-top-color: #5F99CF;
	border-left-color: #5F99CF;
	border-right-color: #5F99CF;
	border-bottom-color: white;
	z-index: 10;
}

#nav-right {
	position: absolute;
	width: 300px;
	height: 55%;
	right: 0;
	background-color: #EFF7FF;
	border-top-left-radius: 5px;
	z-index: 100;
}

.right-widgets {
	position: relative;
	float: left;
	font-size: 12px;
	margin: auto;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	color:  #369;
}

#user {
	margin-left: 10px;
}

#logout {
	margin-right: 5px;
	font-weight: bold;
}

#mail {
	height: 80%;
	padding: 2;
	opacity: 0.5;
}

#content {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.card {
	position: absolute;
	background-color: black;
	width: 450px;
	height: 250px;
	margin-left: 100px;
	margin-top: 100px;
}

.votebox {
	position: absolute;
	height: 100%;
	width: 10%;
	background-color: blue;
}

.votebox img {
	position: relative;
	width: 50%;
	margin: 0 auto;
}



