body {
	margin: 0;
	padding: 0;
	background-color: #EFF7FF;
}

div { 
	padding: 0; 
	margin: 0; 
}

span {
	/*display: table-cell;*/
	line-height: 5px;
	vertical-align: middle;
	opacity: 0.8;
	cursor: pointer;
	padding-top: 30px;
}

#navbar {
	position: fixed;
	height: 40px;
	width: 100%;
	border: 1px solid #5F99CF;
	background-color: #CEE3F8;
	z-index: 99;
}

#logo {
	height: 75%;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-partition {
	position: relative;
	height: 100%;
	bottom: 0;
}

#nav-left {
	position: absolute;
	width: 1000px;
	display: inline-block;
}

.navtabmenu {
	list-style-type: none;
	white-space: nowrap;
	display: inline-block;
}

.navtabmenu li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
	font-weight: bold;
}

.choice {
	position: relative;
	top: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	display: inline;
	background-color: #EFF7FF;
	text-decoration: none;
	color: #369;
}

#selected {
	color: #FF4500;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-top-color: #5F99CF;
	border-left-color: #5F99CF;
	border-right-color: #5F99CF;
	border-bottom-color: white;
	z-index: 10;
}

#nav-right {
	position: absolute;
	width: 300px;
	height: 55%;
	right: 0;
	background-color: #EFF7FF;
	border-top-left-radius: 5px;
	z-index: 100;
}

.right-widgets {
	position: relative;
	float: left;
	font-size: 12px;
	margin: auto;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	color:  #369;
}

#user {
	margin-left: 10px;
}

#logout {
	margin-right: 5px;
	font-weight: bold;
}

#mail {
	height: 80%;
	padding: 2;
	opacity: 0.5;	
}

#content {
	position: relative;
	width: 1440px;
	top: 70px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #EFF7FF;
}

.card {
	position: absolute;
	width: 450px;
	height: 300px;
	background-color: #EFF7FF;
	border-width: 10px;
	border-color: black;
	box-shadow: -3px -1px 14px -5px rgba(0,0,0,0.5);
}

.description {
	position: relative;
	background-color: white;
	height: 20%;
	width: 100%;
	text-align: center;
	color: #0645AD;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	bottom: 0;
}

.thumbnail {
	position: relative;
	float: right;
	background-color: white;
	width: 90%;
	height: 80%;
	top: 0;
}

.thumbnail img {
	margin-left: 10px;
	position: relative;
	height: 80%;
	width: 85%;
	cursor: pointer;
}

#card1, #card2, #card3 {
	margin-top: 0px;
}

#card4, #card5, #card6 {
	margin-top: 350px;
}

#card2, #card5 {
	left: 34.25%;
}

#card3, #card6 {
	right: 0%;
}

.votebox {
	position: relative;
	display: inline-block;
	height: 80%;
	width: 10%;
	top: 0px;
	background-color: white;
}

.votebox img {
	position: absolute;
	width: 50%;
	margin-left: 15px;
	cursor: pointer;
	opacity: 0.3;
}

#uparrow {
	margin-top: 75px;
}

#downarrow {
	margin-top: 100px;
}



